@media all and (min-width: 600px) {
  .navigation,
  .benefits,
  .info-section,
  .navigation-list {
    flex-direction: column;
  }
  .navigation-logo-wrapper {
    margin-bottom: 15px;
  }

  .header-img-wrapper {
    display: none;
  }

  .info-section-item,
  .header-content-text {
    width: 100%;
  }

  .info-section-item {
    margin-top: 30px;
  }
}
