body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

ul{
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li{
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 40px;
}

a{
    text-decoration: none;
    color: #ffffff;
}